{{template "base" .}}

{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>Contact Page World!!</h2>
            </div>
        </div>
    </div>
{{end}}